.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background-color: rgb(6, 80, 122);
  border-radius: 15% 15% 15% 15%;
  margin: 10px;
  color: white;
}

select:hover {
  cursor: pointer;
}

.text {
  font-weight: 900;
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
